.info-block {
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    min-height: 10rem;
    min-width: 10rem;
    font-size: 6rem;
}